<div class="min-h-screen flex justify-center items-center flex-col">
    <lottie-player
        src="https://assets3.lottiefiles.com/packages/lf20_n5q8wfa8.json"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
    ></lottie-player>
    <p class="text-2xl font-bold">Page not found.</p>
    <p class="text-xl font-base mt-5">
        You didn't break the internet, but we can't find what you are looking
        for 😁.
    </p>
    <a class="block mt-6 bg-blue-600 text-white px-6 py-2 rounded-full" href="/"
        >Go to Home</a
    >
</div>
