<div class="max-h-screen overflow-hidden">
    {{#
    <iframe
        width="100%"
        id="preview-frame"
        src="https://www.surveymonkey.com/r/dynamicciso_excellence_awards_nomination"
        name="preview-frame"
        frameborder="0"
        noresize="noresize"
    >
    </iframe>
    #}}

    <div class="intrinsic-container intrinsic-container-16x9">
        <iframe
            src="https://www.surveymonkey.com/r/attend_DynamicCISO-Excellence-Awards-and-Conference-9th-Edition"
            allowfullscreen
        ></iframe>
    </div>
</div>
