<footer class="mt-20 bg-black text-white p-5 px-0 overflow-hidden" id="contact">
    <div class="container">
        <div class="left_footer_area text-center justify-between">
            <!-- <div
                class="footer_img_wrapper flex flex-col md:flex-row gap-6 pt-6 pb-16"
            > -->
            <div class="flex md:justify-center justify-evenly items-center">
                <img
                    class="block w-[100px] md:w-[250px] mr-8"
                    height="100%"
                    src="/assets/microsoft-gallery/images/microsoft-logo-cropped.png"
                    alt=""
                />
                <img
                    class="block w-[100px] md:w-[130px] mr-8"
                    src="/assets/microsoft-gallery/images/ismg-white-hd-logo.png"
                    alt=""
                />
                <!-- </div> -->
            </div>

            <div class="social_networks mt-8 mb-10">
                <div class="flex gap-6 justify-center">
                    <div class="text">
                        <p>Follow Us</p>
                    </div>
                    <div class="icons">
                        <div class="flex items-center justify-start gap-4">
                            <div>
                                <a
                                    href="https://twitter.com/ISMG_News"
                                    target="_blank"
                                    class="cursor-pointer"
                                >
                                    <img
                                        src="/assets/microsoft-gallery/images/twitter_icon.png"
                                        alt=""
                                    />
                                </a>
                            </div>
                            <div>
                                <a
                                    href="https://in.linkedin.com/company/information-security-media-group-corp-ismg"
                                    target="_blank"
                                    class="cursor-pointer"
                                >
                                    <img
                                        src="/assets/microsoft-gallery/images/linkedin_icon.png"
                                        alt=""
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- copyright section  -->
        <p class="text-center text-xs text-gray-400 mt-6">
            © 2023 Information Security Media Group, Corp. |
            <a
                href="https://ismg.io/"
                class="hover:underline"
                target="_blank"
                rel="noopener noreferrer"
                >About</a
            >
            |
            <a
                href="https://ismg.io/terms/"
                class="hover:underline"
                target="_blank"
                rel="noopener noreferrer"
            >
                Privacy & GDPR Statement</a
            >
        </p>
    </div>
</footer>
